---
layout: default
---

<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
  <tbody>
    <tr>
      <td style="padding:16px;width:100%;vertical-align:middle">
        <h2>Research</h2>
        <p>I'm interested in embodied cognition, neurosymbolic AI, and deep learning, and their applications in robotics.</p>
      </td>
    </tr>
  </tbody>
</table>

<table style="width:100%;border:0px;border-spacing:0px 10px;border-collapse:separate;margin-right:auto;margin-left:auto;">
  <tbody>
    {% for paper in site.data.research %}
    <tr {% if paper.highlight %}bgcolor="#ffffd0"{% endif %}>
      <td style="padding:16px;width:20%;vertical-align:middle">
        <div>
          <img src="{{ paper.image | relative_url }}" width="160">
        </div>
      </td>
      <td style="padding:8px;width:80%;vertical-align:middle">
        <span class="papertitle">{{ paper.title }}</span>
        <br>
        {{ paper.authors }}
        <br>
        <em>{{ paper.venue }}</em>
        <br>
        {% if paper.links %}
          {% for link in paper.links %}
            <a href="{{ link.url }}">{{ link.text }}</a> {% unless forloop.last %}/ {% endunless %}
          {% endfor %}
        {% endif %}
        <p>{{ paper.description }}</p>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
  <tbody>
    <tr>
      <td style="padding:16px;width:100%;vertical-align:middle">
        <h2>Projects</h2>
      </td>
    </tr>
  </tbody>
</table>

<table style="width:100%;border:0px;border-spacing:0px 10px;border-collapse:separate;margin-right:auto;margin-left:auto;">
  <tbody>
    {% for project in site.data.projects %}
    <tr>
      <td style="padding:16px;width:20%;vertical-align:middle">
        <div>
          <img src="{{ project.image | relative_url }}" width="160">
        </div>
      </td>
      <td style="padding:8px;width:80%;vertical-align:middle">
        <span class="papertitle">{{ project.title }}</span><br>
        {% if project.link %}
        <a href="{{ project.link }}">{{ project.link_text }}</a>
        {% endif %}
        <p>{{ project.description }}</p>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
  <tbody>
    <tr>
      <td style="padding:16px;width:100%;vertical-align:middle">
        <h2>Teaching</h2>
      </td>
    </tr>
    <tr>
      <td style="padding:8px;width:100%;vertical-align:middle">
        {% for role in site.data.teaching %}
          <p><strong>{{ role.institution }}</strong> &nbsp; | &nbsp; {{ role.title }} &nbsp; | &nbsp; <em>{{ role.years }}</em></p>
          <ul>
            {% for course in role.courses %}
            <li><strong>{{ course.name }}</strong> — {{ course.term }}<br>
              {% if course.instructor %}<em>Instructor:</em> {{ course.instructor }}{% endif %}
            </li>
            {% endfor %}
          </ul>
        {% endfor %}
      </td>
    </tr>
  </tbody>
</table>

<table style="width:100%; margin:0 auto; border:0; border-spacing:0; padding:16px;">
  <tbody>
    <tr>
      <td>
        <h2>Miscellanea</h2>
        <p><strong>Amazing reads:</strong></p>
        <ul>
           <li>A PhD Is Not Enough – Peter Feibelman</li>
           <li>Crafting Your Research Future – Charles Ling, Qiang Yang</li>
           <li>Surely You're Joking, Mr. Feynman – Richard Feynman</li>
           <li>AI: Great Expectations (1988, one-page note on AI) – Rodney Brooks</li>
           <br>
           <li>A Mathematical Introduction to Robot Manipulation – Murray, Sastry, Li</li>
           <li>Probabilistic Robotics – Thrun, Burgard, Fox</li>
           <br>
           <li>Grokking Deep Reinforcement Learning - Miguel Morales</li>
           <li>Reinforcement Learning: An Introduction – Barto, Sutton</li>
           <br>
           <li>An Introduction to Quantum Computing – Kaye, Laflamme, Mosca</li>
           <li>Physical Mathematics – Michael P. Brenner</li>
           <li>Artificial Intelligence: A Modern Approach – Norvig, Russell</li>
           <li>Deep Learning – Courville, Goodfellow, Bengio</li>
           <li>Information Theory: From Coding to Learning – Wu, Polyanskiy</li>
           <li>Data Science from Scratch – Joel Grus</li>
           <li>The Road to Reality – Roger Penrose</li>
           <li>Beej's Guide to C Programming</li>
        </ul>
         <p><strong>Mechanics/Screw Theory Notes:</strong></p>
        <ul>
          <li><a href="./files/rlnotes/MMM_Notes.pdf">MMM Notes</a></li>
        </ul>
        <p><strong>Reinforcement Learning Notes:</strong></p>
        <ul>
          <li><a href="./files/rlnotes/Reinforcement Learning Notes 1.pdf">Part I: Intro and MDP</a></li>
          <li><a href="./files/rlnotes/Reinforcement Learning Notes 2.pdf">Part II: Dynamic Programming</a></li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>