<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{ site.title }}</title>
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ '/css/stylesheet.css' | relative_url }}">
    <link rel="shortcut icon" href="{{ '/files/images/favicon/favicon.ico' | relative_url }}">
  </head>

  <body>
    <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
      <tbody>
        <tr style="padding:0px">
          <td style="padding:0px">
            <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
              <tbody>
                <tr style="padding:0px">
                  <td style="padding:2.5%;width:63%;vertical-align:middle">
                    <p class="name" style="text-align: center;">{{ site.author.name }}</p>
                    <p>

                      I'm a M.Sc. student of <b>Robotics</b> at <b>Università degli Studi di Genova</b>, Italy, supervised by <a href="https://scholar.google.com/citations?user=1hKOgRoAAAAJ&hl=en">Arash Ajoudani</a> and <a href=https://scholar.google.com/citations?user=C_OlT3MAAAAJ&hl=it>Enrico Simetti</a>. 

                      My research is on imitation learning and general task representations. 
                      <br><br>
                      
                      Previously, I received my B.Sc. in Electrical Engineering at Shahid Beheshti University, Iran, under the supervision of <a href="https://scholar.google.com/citations?user=VzPbMOoAAAAJ&hl=en">Mohammad Hossein Moaiyeri</a>, where I worked with my peers at SBU’s robotics lab (<a href="https://sbu-team.github.io/">Auriga</a>).                      
                      
                      <br>
                      
                      A livello personale, mi interessa esplorare nuovi hobby, viaggiare e apprendere continuamente. I'm available via email ;).
                      
                    </p>
                    <p style="text-align:center">
                      <a href="mailto:{{ site.author.email }}">Email</a> &nbsp;/&nbsp;
                      <a href="{{ site.author.cv | relative_url }}">CV</a> &nbsp;/&nbsp;
                      <a href="{{ site.author.scholar }}">Scholar</a> &nbsp;/&nbsp;
                      <a href="{{ site.author.linkedin }}">LinkedIn</a> &nbsp;/&nbsp;
                      <a href="{{ site.author.github }}">GitHub</a>
                    </p>
                  </td>
                  <td style="padding:2.5%;width:37%;max-width:37%">
                    <img style="width:100%;max-width:100%;object-fit: cover; border-radius: 50%;" alt="profile photo" src="{{ '/files/images/profile/profile.jpg' | relative_url }}" class="hoverZoomLink">
                  </td>
                </tr>
              </tbody>
            </table>

            {{ content }}
            
            <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
              <tr>
                <td style="padding:0px">
                  <br>
                  <p style="text-align:right;font-size:small;">
                    Design and source inspired from <a href="https://github.com/jonbarron/jonbarron_website">Jon Barron's</a>. 
                    <!-- Last updated {{ "now" | date: "%B %Y" }}. -->
                  </p>
                </td>
              </tr>
            </tbody></table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
