/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #692a00;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#navbar {
    background-color: #1e1e1e;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    height: 45px;
}

#navbar.sticky {
    position: fixed;
    top: 0;
}

.navbarOffsetMargin {
    padding-top: 100px;
}



nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 10px 0;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav a.active {
    color: #1e1e1e;
    background: white;
}

nav a:hover {
    text-decoration: underline;
}


section {
    margin: 20px;
    padding: 20px;
}

footer {
    text-align: center;
    background-color: #692a00;
    color: #fff;
    padding: 10px 0;
}

.content {
    display: flex;
    align-items: center; /* Vertically align content */
    gap: 20px; /* Add spacing between image and text */
}

.content img {
    max-width: 200px; /* Adjust the width of the image as needed */
    height: auto;
}

.justified-text {
    text-align: justify;
}

.table-container {
    display: flex;
    justify-content: center;
}

.image-table {
    width: 50%;
    border-collapse: collapse;
    justify-content: center;
}

.image-table td {
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
}

.image-table img {
    max-width: 100%;
    height: auto;
}


